/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#F5EEFF, #d46bba);
}


#root  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(20, 35, 241, 0.37);
    padding: 20px;
    max-width: 410px;
}

.container::after {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background: url("clouds.png");
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.search-section .search-input {
    display: inline-block;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    text-transform: lowercase;
    color: #979292;
    border-radius: 20px;
    width: 80%;
    font-size: 16px;
}
.search-section .search-input:focus {
    outline: none;
}

.search-section .search-form .material-symbols-rounded {
    font-size: 20px;
    cursor: pointer;
    color: #fcfcfc;
}

.search-section .search-form .material-symbols-rounded:hover {
    color: #fdf8f8;
}


.weather-section :where(h2, p) {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.weather-section .current-weather {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.current-weather .weather-icon {
    width: 140px;
    aspect-ratio: 1;
}

.current-weather .temperature {
    margin: 18px 0;
    display: flex;
    font-size: 3.38rem;
}

.current-weather .temperature span {
    font-size: 1.56rem;
    font-weight: 400;
    margin: 5px 0 0 2px;
}

.current-weather .description {
    text-transform: capitalize;
    font-size: 1.25rem;
    color: #f0f0f0;
}

.hourly-forecast {
    padding: 16px 25px;
    border-top: 1px solid rgba(255, 249, 249, 0.2);
    margin-bottom: 20px;
}

.hourly-forecast .weather-list {
    display: flex;
    gap: 24px;
    overflow: auto;
    list-style: none;
    scrollbar-width: thin;
    padding-bottom: 16px;
    margin-bottom: -16px;
    scrollbar-color: transparent transparent;
}

.hourly-forecast:hover .weather-list {
    scrollbar-color: #c5bcdb transparent;
}

.hourly-forecast .weather-item {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}

.hourly-forecast .weather-item .weather-icon {
    width: 28px;
    aspect-ratio: 1;
}